In [1]:
#importamos las librerias
import pandas as pd
import numpy as np

In [2]:
#llamamos la url donde obtendremos los datos
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes_(seasons_1-20)')

In [5]:
#transformamos el HTML a csv
df[0].to_csv('../dataset/simpsons.csv')

In [6]:
#leemos el csv y lo pasamos a una variable llamada data
data = pd.read_csv('../dataset/simpsons.csv')

In [7]:
#mostramos los 5 primeros registros
data.head()

,Unnamed: 0,Season,Episodes,Episodes.1,Originally aired,Originally aired.1,Households / viewers,Rank,Rating
0,NaN,Season,Episodes,Episodes.1,First aired,Last aired,Households / viewers,Rank,Rating
1,0.0,1,13,13,"December 17, 1989","May 13, 1990",13.4m h.[n1][12],30,14.5
2,1.0,2,22,22,"October 11, 1990","July 11, 1991",12.2m h.[n1][n2],38[13],8.0
3,2.0,3,24,24,"September 19, 1991","August 27, 1992",12.0m h.[n1][n3],33[14],—
4,3.0,4,22,22,"September 24, 1992","May 13, 1993",12.1m h.[n1][15],30,13.0

#### Limpiando los datos

In [8]:
#quitamos la columna unnamed, y la fila 0 que contiene informacion innecesaria
df_clean = data.drop(['Unnamed: 0'], axis=1)
df_clean = df_clean.drop([0])
df_clean = df_clean.drop(['Episodes.1'], axis=1)

In [ ]:
data_clean = df_clean.rename({'Season': 'Temporada', 'Episodes': 'Episodios', 'Originally aired': 'Primer lanzamiento',
          'Originally aired.1': 'Ultimo lanzamiento', 'Households / viewers': 'Espectadores',
          'Ranking': 'Rank', 'Rating' : 'Rating'}, axis=1)

In [9]:
#verificamos que se haya hecho la limpieza y mostramos los nuevos registros
df_clean.head()

,Season,Episodes,Originally aired,Originally aired.1,Households / viewers,Rank,Rating
1,1,13,"December 17, 1989","May 13, 1990",13.4m h.[n1][12],30,14.5
2,2,22,"October 11, 1990","July 11, 1991",12.2m h.[n1][n2],38[13],8.0
3,3,24,"September 19, 1991","August 27, 1992",12.0m h.[n1][n3],33[14],—
4,4,22,"September 24, 1992","May 13, 1993",12.1m h.[n1][15],30,13.0
5,5,22,"September 30, 1993","May 19, 1994",10.5m h.[n1][n4],53[16],—

In [10]:
ratings = np.max(df_clean['Rating'])

In [11]:
#TODO:Reemplazar '-' por 0 en Ratings
ratings

'—'